streamlit
python-dotenv
requests
pandas

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface

faiss-cpu
sentence-transformers
pypdf

transformers
accelerate
torch

huggingface-hub
plotly